html {
	height: 100%;
	font-family: "Helvetica Neue", "Helvetica", "Apple SD Gothic Neo", "NanumGothic", sans-serif;
}
body {
	position: relative;
	margin: 0; padding: 0;
	background: #aaa;
	background: #222;
	color: #EEE;
	text-align: center;
	font-size: 75%;
}
a:link, a:visited {
	color: #EEE;
}
img {
	border: none;
}
h1 {
	margin: 10px 0;
}

.gallery {
	margin: 0 auto;
	padding: 20px;
	width: 600px;
	background: #333;
}
.links, .mobile-title {
	margin: 10px auto 10px auto;
	text-align: left;
	width: 190px;
	margin: 4px auto;
	float: left;
}
.mobile-title {
	display: none;
}
.mobile-title .arrow {
	color: #666;
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}
.links a, .mobile-title a {
	width: 180px;
	height: 15px;
	padding: 2px 0;
	border-bottom: 1px solid #555;
	margin-bottom: 10px;
	float: left;
	text-decoration: none;
	display: block;
}
.links a:hover, .mobile-title a:hover {
	border-bottom: 1px solid #888;
}
.links a.active, .mobile-title a.active {
	border-bottom: 1px solid orange;
}
.links a, .mobile-title a { 
	position: relative;
}
.new { 
	color: orange; 
	font-size: 6pt;
	padding: 2px;  
	position: absolute; 
	top: 0; right: 0;
}

.bigimages {
	width: 400px;
	margin: 0 0 0 190px;
}
.bigimages img {
	border: 2px solid #555;
	margin-top: 5px;
	width: 400px;
}


.clear {
	clear:both;
}

footer {
	margin: 10px 0;
	padding: 0;
	color: #aaa;
}
footer p { 
	margin: 0;
	padding: 0;
}

@media (max-device-width: 800px) {
	.gallery {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		position: relative;
	}
	.bigimages {
		margin: 0;
		width: 100%;
	}
	.bigimages img {
		width: 100%;
	}
	.links {
		position: absolute;
		display: block;
		background: #333;
		width: 200px;
		top: 41px;
		left: 0;
		margin: 0 10px;
		border: 1px solid #666;
	}
	.mobile-title {
		display: block;
		margin: 0;
		padding: 0;
	}
	.mobile-title a, .mobile-title a.active {
		display: block;
		width: 200px;
		height: 20px;
		padding: 5px 10px;
		border: 1px solid #666;
		background-color: #444;
		font-weight: bold;
	}
	.mobile-title a:hover {
		background-color: #555;
	}
	.links {
		left: 0;
		padding: 10px;
	}
	.links.hide {
		display: none;
	}
	.links a {
		width: 100%;
	}
}
